* {margin: 0; padding: 0; box-sizing: border-box; font-family: font_face;}
html,body {height: 100%;}

@font-face {
    src: url('../fonts/FACEBOLF.OTF');
    font-family: font_face;
}

.box {max-width: 1100px; margin: 0 auto; padding: 0 2%;}
.w50 {width: 50%;}
.w100 {width: 100%;}
.center {text-align: center;}

/* header */
header {padding: 5px 0; background: linear-gradient(rgb(92, 110, 97) , rgb(24, 23, 23));}
header div.box {display: flex;}
header div.logo ,
header form.form_header {width: 50%;}

header div.logo h2 {color: chartreuse; font-size: 30pt; position: relative; top: 15px;}

header form.form_header {text-align: right;}
header form.form_header div.box_input ,
header form.form_header div.box_submit {display: inline-block;}

header form.form_header div.box_input span,
header form.form_header div.box_input a {display: block; font-size: 10pt; color: rgb(122, 228, 192); text-align: left; text-decoration: none;}
header form.form_header div.box_input input[type="email"],
header form.form_header div.box_input input[type="password"] {height: 25px; padding-left: 5px; outline: none; border: none;}
header form.form_header div.box_submit input[type="submit"] {height: 25px; padding: 5px; border: none; background-color: rgb(88, 182, 88); color: rgb(241, 238, 238); cursor: pointer;}

header form.form_header div.box_input:nth-child(1) ,
header form.form_header div.box_submit {position: relative; top: -20px;} 

/* main */ 
main {width: 100%; height: auto; padding: 40px 0; background: linear-gradient(white , rgb(103, 189, 103))}
main div.box {display: flex;}

main section.network {width: 60%; padding: 0 20px;}
main section.network img {width: 100%; margin-top: 10px;}

main section.form_main {width: 40%; position: relative; left: 10%;}

main section.form_main form {display: flex; flex-wrap: wrap; width: 100%; padding: 10px 0;}
main section.form_main form div.box_input_main {padding: 3px 5px;}
main section.form_main form div.box_input_main input[type="text"],
main section.form_main form div.box_input_main input[type="email"],
main section.form_main form div.box_input_main input[type="password"] {width: 100%; height: 35px; border-radius: 5px; border: none; padding: 0 3px; outline: none;}

main section.form_main form div.box_input_main_submit {padding: 5px 6px;}
main section.form_main form div.box_input_main_submit input[type="submit"] {height: 40px; padding: 0 10px; color: white; background: green; border: none; border-radius: 5px; cursor: pointer;}
main section.form_main form div.box_input_main_submit input[type="submit"]:hover {background: rgb(2, 99, 2); color: rgb(214, 209, 209);}


